{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block body %}

	<!-- Start header -->
	<header class="top-navbar">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container">
				<a class="navbar-brand" href="{% url 'meals:meal_list' %}">
					<img src="{% static 'site_static/images/logo.png' %}" alt="" />
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-rs-food" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbars-rs-food">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item"><a class="nav-link" href="{% url 'home:home' %}">Home</a></li>
						<li class="nav-item"><a class="nav-link" href="{% url 'meals:meal_list' %}">Menu</a></li>
						<li class="nav-item"><a class="nav-link" href="{% url 'reservation:reserve_table' %}">Reservation</a></li>
						<li class="nav-item active"><a class="nav-link" href="{% url 'blog:post_list' %}">Blog</a></li>
						<li class="nav-item"><a class="nav-link" href="{% url 'contact:send_email' %}">Contact</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<!-- End header -->
	
	<!-- Start All Pages -->
	<div class="all-page-title page-breadcrumb">
		<div class="container text-center">
			<div class="row">
				<div class="col-lg-12">
					<h1>{{ post_detail }}</h1>
				</div>
			</div>
		</div>
	</div>
	<!-- End All Pages -->
	
	<!-- Start blog details -->
	<div class="blog-box">
		<div class="container">
			<div class="row">
				<div class="col-xl-8 col-lg-8 col-12">
					<div class="blog-inner-details-page">
						<div class="blog-inner-box">
							<div class="side-blog-img">
								<img class="img-fluid" src="{{ post_detail.image.url }}" alt="">							
								<div class="date-blog-up">
									{{ post_detail.created.date }}
								</div>
							</div>
							<div class="inner-blog-detail details-page">
								<h3>{{ post_detail }}</h3>
								<ul>
									<li>Posted By : <span>{{ post_detail.author }}</span></li>
									<li>|</li>
									<li>Time : <span>{{ post_detail.created.time }}</span></li>
								</ul>
								<p>{{ post_detail.content }}</p>
								<!-- <blockquote>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non feugiat lacus. Nunc nisi velit, consectetur vitae ex porttitor, placerat scelerisque mauris. Phasellus sit amet tincidunt metus, quis tempus ex. Quisque in lorem ut mi ullamcorper suscipit eu nec purus. Nam maximus sagittis iaculis.</p>
								</blockquote> -->
							</div>
						</div>
						<div class="blog-comment-box">
							<h3>Comments</h3>
							{% for comment in comments %}
								<div class="comment-item">
									<div class="comment-item-left">
										<img src="images/avt-img.jpg" alt="">
									</div>
									<div class="comment-item-right">
										<div class="pull-left">
											<a href="#">{{ comment.user }}</a>
										</div>
										<div class="pull-right">
											<i class="fa fa-clock-o" aria-hidden="true"></i>Time : <span>{{ comment.created }}</span>
										</div>
										<div class="des-l">
											<p>{{ comment.content }}</p>
										</div>
									</div>
								</div>
							{% endfor %}
						</div>
						<div class="comment-respond-box">
							<h3>Leave your comment </h3>
							<div class="comment-respond-form">
								<form id="commentrespondform" method="post">
									{% csrf_token %}
									{% bootstrap_form comment_form %}
									{% buttons %}
										<button type="submit" class="btn" style="background-color:#fdb44b;color:white">Leave A Comment</button>
									{% endbuttons %}
								</form>
							</div>
						</div>
					</div>
				</div>
			
				<div class="col-xl-4 col-lg-4 col-md-6 col-sm-8 col-12 blog-sidebar">
					<div class="right-side-blog">

						<h3>Search</h3>
						<form action="{% url 'blog:post_list' %}" method="GET">
							<div class="blog-search-form">
								<input name="q" value="{{ request.Get.q }}" placeholder="Search blog" type="text">
								<button class="search-btn">
									<i class="fa fa-search" aria-hidden="true"></i>
								</button>
							</div>
						</form>

						<h3>Categories</h3>
						<div class="blog-categories">
							<ul>
								{% for category in categories %}
									<li><a href="{% url 'blog:post_by_category' category %}"><span>{{ category }}</span></a></li>
								{% endfor %}
							</ul>
						</div>

						<h3>Recent Post</h3>
						<div class="post-box-blog">
							<div class="recent-post-box">
								{% for post in post_list%}
									{% if forloop.counter <= 4 %}
										<div class="recent-box-blog">
											<div class="recent-img">
												<img class="img-fluid" style="height:100px" src="{{ post.image.url }}" alt="">
											</div>
											<div class="recent-info">
												<ul>
													<li><i class="zmdi zmdi-account"></i>Posted By : <span>{{ post.author }}</span></li>
													<li>|</li>
													<li><i class="zmdi zmdi-time"></i>Time : <span>{{ post.created }}</span></li>
												</ul>
												<h4><a href="{% url 'blog:post_detail' post.id %}">{{ post.title }}</a></h4>
											</div>
										</div>
									{% endif %}
								{% endfor %}
							</div>
						</div>

						<h3>Post Tag</h3>
						<div class="blog-tag-box">
							<ul class="list-inline tag-list">
								{% for tag in post_detail.tags.all %}	
									<li class="list-inline-item"><a href="{% url 'blog:post_by_tag' tag %}">{{ tag.name }}</a></li>
								{% endfor %}
							</ul>
						</div>
					</div>
				</div>
			
			</div>
		</div>
	</div>
	<!-- End details -->
	
{% endblock body %}